<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Angular 2 Weather Forecast</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/weather"><i class="fa fa-cloud"></i> Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><i class="fa fa-info-circle"></i> About</a>
      </li>
    </ul>
    <search-bar></search-bar>
  </div>
</nav>
